<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar
      placeholder="Buscar en {{ currentSection === 'grupos' ? 'grupos' : 'langileak' }}"
      (ionInput)="filterItems($event)"
    ></ion-searchbar>
    <ion-button
      class="add-group-btn"
      shape="round"
      (click)="openAddItemModal()"
    >
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="toggle-container">
    <ion-segment [(ngModel)]="currentSection" (ionChange)="segmentChanged()">
      <ion-segment-button value="grupos">
        Grupos
      </ion-segment-button>
      <ion-segment-button value="langileak">
        Langileak
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="item-grid">
    <ng-container *ngIf="filteredItems.length; else noItems">
      <ion-card
        class="item-card"
        *ngFor="let item of filteredItems"
        (click)="showItemDetails(item)"
      >
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
        <ion-button
          fill="clear"
          (click)="deleteItem(item.id, $event)"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card>
    </ng-container>
    <ng-template #noItems>
      <p class="no-items">No hay {{ currentSection }} disponibles.</p>
    </ng-template>
  </div>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeItemDetails()">
    <ng-container *ngIf="selectedItem">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ selectedItem.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeItemDetails()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <div class="item-details">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="selectedItem.name"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea [(ngModel)]="selectedItem.description"></ion-textarea>
          </ion-item>
  
          <ng-container *ngIf="selectedItem.type === 'grupos'">
            <ion-item>
              <ion-label position="stacked">Código</ion-label>
              <ion-input [(ngModel)]="selectedItem.kodea"></ion-input>
            </ion-item>
          </ng-container>
  
          <ng-container *ngIf="selectedItem.type === 'langileak'">
            <ion-item>
              <ion-label position="stacked">Apellidos</ion-label>
              <ion-input [(ngModel)]="selectedItem.surname"></ion-input>
            </ion-item>
          </ng-container>
  
          <ion-button expand="full" (click)="saveChanges()">Guardar Cambios</ion-button>
        </div>
      </ion-content>
    </ng-container>
  </ion-modal>
</ion-content>
