<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <div class="group-grid">
    <ng-container *ngIf="groups.length; else noGroupsTemplate">
      <ion-card *ngFor="let group of groups" (click)="showGroupDetails(group)">
        <ion-card-header>
          <ion-card-title>{{ group.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ group.description }}</ion-card-content>
        <ion-button color="danger" (click)="$event.stopPropagation(); deleteGroup(group.id)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-card>
    </ng-container>
    <ion-button class="add-group-btn" shape="round" (click)="addGroup()">
      <ion-icon name="add-circle-outline"></ion-icon>
      <span> + </span>
    </ion-button>
  </div>

  <ng-template #noGroupsTemplate>
    <div class="no-groups">No hay grupos disponibles.</div>
  </ng-template>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeGroupDetails()" >
    <ng-container *ngIf="selectedGroup">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ selectedGroup.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeGroupDetails()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="group-details">
          <p>{{ selectedGroup.description }}</p>
          <ion-list>
            <ion-item *ngFor="let person of selectedGroup.persons">
              {{ person.name }} {{ person.surname }}
              <ion-button fill="clear" color="danger" slot="end" (click)="deletePerson(selectedGroup.id, person.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-button (click)="addPerson(selectedGroup.id)">Añadir Persona</ion-button>
        </div>
      </ion-content>
    </ng-container>
  </ion-modal>
</ion-content>