<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar
      placeholder="Buscar en {{ currentSection === 'grupos' ? 'grupos' : 'langileak' }}"
      (ionInput)="filterItems($event)"
    ></ion-searchbar>
  </div>

  <ion-segment [(ngModel)]="currentSection" (ionChange)="segmentChanged()">
    <ion-segment-button value="grupos">
      Grupos
    </ion-segment-button>
    <ion-segment-button value="langileak">
      Langileak
    </ion-segment-button>
  </ion-segment>

  <div class="item-grid">
    <ng-container *ngIf="filteredItems.length; else noItems">
      <ion-card
        class="item-card"
        *ngFor="let item of filteredItems"
        (click)="showItemDetails(item)"
      >
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>
    <ng-template #noItems>
      <p class="no-items">No hay {{ currentSection }} disponibles.</p>
    </ng-template>
  </div>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeItemDetails()">
    <ng-container *ngIf="selectedItem">
      <ion-header>
        <ion-toolbar>
          <ion-card-title>{{ selectedItem?.name }}</ion-card-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeItemDetails()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <div class="item-details" *ngIf="currentSection === 'grupos'">
          <h3>Langileak en este grupo:</h3>
          <ul>
            <li *ngFor="let langile of langileak">
              <ng-container *ngIf="langile.taldeak.kodea === selectedItem.id">
                {{ langile.name }} {{ langile.abizena }}
              </ng-container>
            </li>
          </ul>
  
          <!-- Desplegable para seleccionar un langile -->
          <ion-item>
            <ion-label>Seleccionar Langile</ion-label>
            <ion-select [(ngModel)]="selectedLangileToAdd">
              <ion-select-option *ngFor="let langile of langileak" [value]="langile">
                {{ langile.name }} {{ langile.abizena }}
              </ion-select-option>
            </ion-select>
          </ion-item>          
  
          <!-- Botón para actualizar el grupo del langile -->
          <ion-button expand="full" (click)="saveChanges()">
            Actualizar Grupo
          </ion-button>
        </div>
  
        <div class="item-details" *ngIf="currentSection === 'langileak'">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input [(ngModel)]="selectedItem.name"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label position="stacked">Apellido</ion-label>
            <ion-input [(ngModel)]="selectedItem.abizena"></ion-input>
          </ion-item> 
          <ion-button expand="full" (click)="saveChanges()">
            Actualizar Grupo
          </ion-button>
        </div>
      </ion-content>
    </ng-container>
  </ion-modal>
  
</ion-content>