<app-menu></app-menu>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchClients()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let client of filteredClients; trackBy: trackById" (click)="selectClient(client)">
      <ion-label>
        <h2>{{ client.name }} {{ client.surname }}</h2>
        <p>📞 {{ client.phone }}</p>
        <p *ngIf="client.lastVisit">Última visita: {{ client.lastVisit }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal *ngIf="selectedClient">
    <ion-header>
      <ion-toolbar>
        <ion-title>Detalles de {{ selectedClient.name }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <p>📞 Teléfono: {{ selectedClient.phone }}</p>
      <p>🧴 Piel sensible: {{ selectedClient.sensitiveSkin ? 'Sí' : 'No' }}</p>
      <h3>Historial de Visitas</h3>
      <ion-list>
        <ion-item *ngFor="let visit of selectedClient.visits">
          <ion-label>
            <p>📅 {{ visit.visitDate }}</p>
            <p>💇 Servicio: {{ visit.service }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-modal>
</ion-content>
