.content-grid {
    padding: 16px;
  
    ion-searchbar {
      margin-bottom: 16px;
    }
  
    ion-list {
      margin-top: 8px;
      ion-item {
        border-bottom: 1px solid #dcdcdc;
      }
    }
  }
  
  ion-card {
    margin: 16px;
  }

  