<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentLogoutAlert()">
        <img src="assets/Fotos/SaioaItxi.png" alt="Cerrar Sesión" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu content-id="main-content" side="start">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menua</ion-title>
      <div class="logo">
        <img src="assets/Fotos/santurtzi.png" alt="Santurtzi Logo" />
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="menu-items">
      <ion-item
        *ngFor="let item of menuItems"
        button
        [routerLink]="item.route"
        routerLinkActive="active"
        class="menu-item"
        role="menuitem"
        
      >
        <img [src]="item.icon" alt="{{ item.label }}" />
        <span>{{ item.label }}</span>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
