
.info-container {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    flex-direction: column;
  }
  
  ion-datetime {
    --background: #f4f4f4;
    --color: #2c39eb;
    --placeholder-color: #9b9b9b;
    margin-top: 20px;
    width: 100%;
  }
  
  .zerbitzua {
    margin-top: 20px;
    color: #2c39eb;
    font-size: 16px;
  }
  
  .taldea {
    margin-top: 20px;
  }
  