<app-menu> </app-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hitzorduak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="info-container">
    <div class="taldea"></div>
    <ion-item>
      <ion-datetime
        display-format="DD/MM/YYYY"
        month-values="1,2,3,4,5,9,10,11,12"
        hour-values="10,11,12,13,14"
        minute-values="0,30"
        [min]="minDate"
      ></ion-datetime>
    </ion-item>
    <div class="zerbitzua"></div>
  </div>
</ion-content>
