<app-menu></app-menu>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar
      placeholder="Buscar en {{ currentSection === 'productos' ? 'productos' : 'materiales' }}"
      (ionInput)="filterItems($event)"
    ></ion-searchbar>
    <ion-button
      class="add-group-btn"
      shape="round"
    >
    <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="toggle-container">
    <ion-segment [(ngModel)]="currentSection" (ionChange)="segmentChanged()">
      <ion-segment-button value="productos">
        Productos
      </ion-segment-button>
      <ion-segment-button value="materiales">
        Materiales
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="item-grid">
    <ng-container *ngIf="filteredItems.length; else noItems">
      <ion-card
        class="item-card"
        *ngFor="let item of filteredItems"
        (click)="showItemDetails(item)"
      >
        <img [src]="item.image" [alt]="item.name" />
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>
    <ng-template #noItems>
      <p class="no-items">No hay {{ currentSection }} disponibles.</p>
    </ng-template>
  </div>

  <ion-modal [isOpen]="!!selectedItem">
    <ng-container *ngIf="selectedItem">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ selectedItem.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeItemDetails()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="item-details">
          <p>{{ selectedItem.description }}</p>
        </div>
      </ion-content>
    </ng-container>
  </ion-modal>
</ion-content>
