<app-menu></app-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inbentario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentLogoutAlert()">
        <img src="assets/Fotos/garbi.png" alt="Cerrar Sesión" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <ion-searchbar
      placeholder="Buscar productos"
      (ionInput)="filterProducts($event)"
    ></ion-searchbar>
    <ion-button class="add-product-btn" shape="round" (click)="addProduct()">
      <ion-icon name="add-circle-outline"></ion-icon>
      <span> + </span> 
    </ion-button>
  </div>

  <div class="product-grid">
    <ng-container *ngIf="filteredProducts.length; else noProducts">
      <ion-card
        class="product-card"
        *ngFor="let product of filteredProducts"
        (click)="showProductDetails(product)"
      >
        <img [src]="product.image" [alt]="product.name" />
        <ion-card-header>
          <ion-card-title>{{ product.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>
    <ng-template #noProducts>
      <p class="no-products">No hay productos disponibles.</p>
    </ng-template>
  </div>

  <ion-modal isOpen="{{ !!selectedProduct }}">
    <ng-container *ngIf="selectedProduct">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ selectedProduct.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeProductDetails()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="product-details">
          <p>{{ selectedProduct.description }}</p>
        </div>
      </ion-content>
    </ng-container>
  </ion-modal>
</ion-content>