<app-menu></app-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inbentario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <ion-searchbar placeholder="Buscar productos"></ion-searchbar>
    <ion-button class="add-product-btn" shape="round">+</ion-button>
  </div>
  <div class="product-grid">
    <!-- Lista de productos -->
    <div
      class="product-card"
      *ngFor="let product of products"
      (click)="showProductDetails(product)"
    >
      <img [src]="product.image" [alt]="product.name" />
      <h3>{{ product.name }}</h3>
    </div>
  </div>

  <!-- Detalles del producto -->
  <div
    class="product-details"
    *ngIf="selectedProduct"
  >
    <h2>{{ selectedProduct.name }}</h2>
    <p>{{ selectedProduct.description }}</p>
    <ion-button (click)="closeProductDetails()">Itxi</ion-button>
  </div>
</ion-content>
