/* General Reset y Optimización */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Título */
.title {
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 20px;
  color: #333;
}

/* Contenedor del formulario */
.form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Estilo para las columnas */
.column {
  width: 48%;
}

/* Fila del formulario */
.form-row {
  margin-bottom: 25px;
}

/* Estilo de los labels */
label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

/* Estilo de los ion-input y ion-select */
ion-input,
ion-select {
  width: 100%;
  padding: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Estilo cuando el input está enfocado */
ion-input:focus,
ion-select:focus {
  border-color: #3b97e3;
  background-color: #fff;
}

/* Estilo del ion-textarea */
ion-textarea {
  width: 100%;
  padding: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Botón */
ion-button {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #3b97e3;
}
ion-button img {
  width: 30px; /* Reducido el ancho */
  height: auto; /* Mantener proporción */
  margin-right: 15px; /* Opcional: ajustar el margen */
}
