<app-menu></app-menu>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ticket</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img src="assets/Fotos/garbi.png" alt="Cerrar Sesión" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Título -->
  <h1 class="title">Sortu Ticket bat:</h1>

  <!-- Formulario con columnas -->
  <div class="form-container">
    <div class="column">
      <div class="form-row">
        <label for="input1">Bezero mota:</label>
        <ion-input id="input1" type="text" placeholder="Idatzi zerbait"></ion-input>
      </div>
      <div class="form-row">
        <label for="input2">Bezeroa: </label>
        <ion-input id="input2" type="text" placeholder="Idatzi zerbait"></ion-input>
      </div>
      <div class="form-row">
        <label for="input3">Ticket data:</label>
        <ion-input id="input3" type="date" ></ion-input>
      </div>
      <div class="form-row">
        <label for="input4">Zenbatekoa:</label>
        <ion-input id="input4" type="number" placeholder="Idatzi zerbait"></ion-input>
      </div>
      <div class="form-row">
        <label for="input5">Ordaindu duena:</label>
        <ion-input id="input5" type="number" placeholder="Idatzi zerbait"></ion-input>
      </div>
    </div>

    <div class="column">
      <div class="form-row">
        <label for="input6">Nork moztu dio:</label>
        <ion-input id="input6" type="text" placeholder="Idatzi zerbait"></ion-input>
      </div>
      <div class="form-row">
        <label for="input7">Ile mozketa:</label>
        <ion-input id="input7" type="text" placeholder="Idatzi zerbait"></ion-input>
      </div>
      <div class="form-row">
        <label for="input8">Ticket zenbakia:</label>
        <ion-input id="input8" type="number" placeholder="Idatzi zerbait"></ion-input>
      </div>
      <div class="form-row">
        <label for="input9">Nola ordaindu du:</label>
        <ion-input id="input9" type="number" placeholder="Idatzi zerbait"></ion-input>
      </div>
      <div class="form-row">
        <label for="input10">Bueltak:</label>
        <ion-input id="input10" type="number" placeholder="Idatzi zerbait"></ion-input>
      </div>
    </div>
  </div>

  <!-- Botón "Sortu" al final, dentro del flujo normal -->
  <div class="button-container">
    <ion-button expand="full" (click)="sortuPDF() ">Sortu</ion-button>
  </div>
</ion-content>
