<app-menu></app-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ticket de Peluquería</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentLogoutAlert()">
        <img src="assets/Fotos/garbi.png" alt="Cerrar Sesión" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="title">Crear Ticket de Cita</h1>

  <!-- Formulario de la cita -->
  <form #ticketForm="ngForm" (ngSubmit)="sortuPDF(ticketForm)">
    <div class="form-container">
      <div class="column">
        <div class="form-row">
          <label for="cliente">Cliente:</label>
          <ion-input id="cliente" type="text" placeholder="Nombre del cliente" [(ngModel)]="ticket.cliente" name="cliente" required></ion-input>
        </div>
        <div class="form-row">
          <label for="fecha">Fecha de la cita:</label>
          <ion-input id="fecha" type="date" [(ngModel)]="ticket.fecha" name="fecha" required></ion-input>
        </div>
        <div class="form-row">
          <label for="hora">Hora de la cita:</label>
          <ion-input id="hora" type="time" [(ngModel)]="ticket.hora" name="hora" required></ion-input>
        </div>
        <div class="form-row">
          <label for="servicio">Servicio:</label>
          <ion-select id="servicio" [(ngModel)]="ticket.servicio" name="servicio" placeholder="Selecciona un servicio" required>
            <ion-select-option value="corte">Corte de pelo</ion-select-option>
            <ion-select-option value="color">Coloración</ion-select-option>
            <ion-select-option value="peinado">Peinado</ion-select-option>
            <ion-select-option value="otros">Otros</ion-select-option>
          </ion-select>
        </div>
      </div>
  
      <div class="column">
        <div class="form-row">
          <label for="precio">Precio:</label>
          <ion-input id="precio" type="number" placeholder="Precio del servicio" [(ngModel)]="ticket.precio" name="precio" required></ion-input>
        </div>
        <div class="form-row">
          <label for="pagado">Monto Pagado:</label>
          <ion-input id="pagado" type="number" placeholder="Monto pagado" [(ngModel)]="ticket.pagado" name="pagado" (ionBlur)="calcularVuelta()" required></ion-input>
        </div>
        <div class="form-row">
          <label for="vueltas">Vueltas:</label>
          <ion-input id="vueltas" type="number" [value]="ticket.vueltas" readonly></ion-input>
        </div>
        <div class="form-row">
          <label for="metodoPago">Método de Pago:</label>
          <ion-select id="metodoPago" [(ngModel)]="ticket.metodoPago" name="metodoPago" placeholder="Selecciona un método" required>
            <ion-select-option value="efectivo">Efectivo</ion-select-option>
            <ion-select-option value="tarjeta">Tarjeta</ion-select-option>
            <ion-select-option value="transferencia">Transferencia</ion-select-option>
          </ion-select>
        </div>
      </div>
    </div>
  
    <div class="button-container">
      <ion-button expand="full" type="submit" [disabled]="ticketForm.invalid">Crear Ticket</ion-button>
    </div>
  </form>
  
</ion-content>
